@media only screen and (max-width: 1600px) {
  .about-section {
    padding: 8rem 0;
  }

  .about-section .col-right img {
    width: 100%;
  }

  .about-section h2 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1440px) {
  .about-banner {
    height: 600px;
  }

  .banner-content {
    height: inherit;
    gap: 2rem;
    top: 17rem;
  }

  .master-row .col-left p:nth-child(2) {
    font-size: 19px;
  }

  .master-row .col-left {
    width: 47%;
  }

  .program-card-big .programs-card-link h3 {
    font-size: 43px;
  }

  .program-card-big .programs-card-link .program-title p {
    font-size: 1.9rem;
  }

  .programs-card-link .programs-subtitle {
    font-size: 0.9rem;
  }

  .programs-section h2 {
    padding: 6rem 0;
  }

  .staff-section .certificate-p p {
    width: 100%;
    padding: 0.375rem 0rem;
    margin-top: 5px;
  }

  .staff-section p {
    font-size: 17px;
    padding: 0;
  }

  .staff-section .teachers-bg img {
    width: 255px;
  }

  .staff-section .teachers-row {
    gap: 1rem;
  }

  .teachers-row h4 {
    font-size: 24px;
    padding-top: 1rem;
    line-height: 1;
  }

  .staff-section .subtitle {
    margin: 0;
  }

  .teachers-row .teachers-bg a {
    top: -3rem;
    z-index: -1;
    left: 0.375rem;
  }

  .staff-section .teachers-img img {
    width: 81%;
  }
}

@media only screen and (max-width: 1200px) {
  .master-row .col-left p:nth-child(3) {
    line-height: 2;
  }

  .program-card-big .programs-card-link .programs-subtitle,
  .program-card-big .programs-card-link:nth-child(3) .programs-subtitle {
    padding-right: 6rem;
  }

  .program-card-big .programs-card-link h3 {
    font-size: 38px;
  }

  .program-card-big .programs-card-link .program-title p {
    font-size: 1.6rem;
  }

  .program-cards .program-col {
    padding: 2.8rem;
  }

  .programs-section h2 {
    padding: 5rem 0 3rem 0;
  }

  .programs-section .programs-btn {
    height: 4.5rem;
    width: 4.5rem;
  }

  .programs-card-link:hover .programs-btn {
    background-color: var(--primary-color);
    transform: translate(-80%, 0);
  }

  .programs-section .programs-btn {
    bottom: 0;
  }

  .programs-btn img {
    width: 1.2rem;
  }

  .staff-section .teachers-row {
    flex-wrap: wrap;
    gap: 6.5rem 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .about-banner {
    height: 500px;
  }

  .banner-content {
    height: inherit;
    top: 15rem;
  }

  .about-section {
    padding: 5rem 0;
  }

  .program-card-big .programs-card-link h3 {
    font-size: 33px;
  }

  .program-cards .program-col {
    padding: 2rem;
  }

  .program-card-big .programs-card-link .program-title p {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 991px) {
  .master-row .col-left p:nth-child(2) {
    font-size: 0.9rem;
    line-height: 2;
    padding: 1rem 0;
  }

  .master-row .col-left p:nth-child(3) {
    padding: 0 0 1rem 0;
    line-height: 1.5;
  }

  .programs-section {
    padding: 1.5rem 0 4rem 0;
  }

  .staff-section {
    padding: 4rem 0;
  }

  .staff-section p {
    line-height: 1.7;
  }

  .staff-section .teachers-row {
    padding: 3rem 0 4rem 0;
    gap: 5rem 2rem;
  }

  .staff-section .common-btn {
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .about-banner {
    height: 400px;
  }

  .banner-content {
    height: inherit;
    gap: 2rem;
    top: 12rem;
  }

  .master-row {
    flex-direction: column;
    text-align: center;
  }

  .about-section h2 {
    text-align: center;
  }

  .master-row .col-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .master-row .col-right {
    width: 100%;
  }

  .about-section .col-right img {
    width: 75%;
  }

  .programs-section .programs-btn {
    height: 3.5rem;
    width: 3.5rem;
  }

  .programs-card-link .programs-subtitle {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 640px) {
  .about-section .col-right img {
    width: 100%;
  }

  .master-row .col-left p:nth-child(2) {
    line-height: 1.5;
  }

  .programs-card-link .programs-subtitle {
    font-size: 1rem;
  }

  .program-card-big .programs-card-link {
    max-height: fit-content;
  }

  .program-card-big .programs-card-link h3 {
    width: 40%;
    text-align: start;
  }

  .programs-section .programs-btn {
    right: -5%;
  }

  .programs-card-link:hover .programs-btn {
    transform: translate(-100%, 0);
  }

  .staff-section .common-btn {
    width: 60%;
  }
}

@media only screen and (max-width: 480px) {
  .program-card-big .programs-card-link .programs-subtitle,
  .program-card-big .programs-card-link:nth-child(3) .programs-subtitle {
    padding: 0.8rem 2.5rem 0 0;
    line-height: 1.5;
    font-size: 0.8rem;
  }

  .program-card-big .program-title {
    flex-direction: column;
    gap: 0.5rem;
  }

  .program-card-big .programs-card-link .program-title p {
    padding: 0;
  }

  .program-card-big .programs-card-link h3 {
    width: 100%;
  }

  .programs-card-link:hover .programs-btn {
    transform: translate(-80%, 0);
  }

  .programs-section h2 {
    padding: 4rem 0 2rem 0;
  }

  .programs-section {
    padding: 1.5rem 0 2rem 0;
  }

  .staff-section p {
    margin: 0.5rem 0 1.3rem 0;
  }

  .staff-section .subtitle {
    padding: 1rem;
  }

  .staff-section .common-btn {
    width: 78%;
  }
}
