@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1360px;
  }

  .header-container {
    width: calc(100% - 10%);
  }

  .logo img {
    width: 85%;
  }

  h1 {
    font-size: 6rem;
  }

  .hero-section {
    height: 900px;
  }

  .common-btn {
    font-size: 1.46rem !important;
    width: 15.125rem;
    background-size: contain;
  }

  .swiper-arrows {
    padding-top: 70px;
    gap: 15px;
  }

  .swiper-arrows .btn-prev img,
  .swiper-arrows .btn-next img {
    width: 3rem;
  }

  .hero-main .right img {
    left: 120px;
    width: 100%;
  }

  .heading-block .left {
    padding-top: 130px;
  }

  .super-girl.active img {
    transform: translate(15%, -7%);
  }

  .hero-main > img {
    width: 3.3rem;
    left: 100px;
    top: 200px;
  }

  h2 {
    font-size: 4rem;
  }

  .welcome-section {
    padding: 8rem 0;
  }

  .welcome-row {
    padding-top: 5rem;
  }

  .wc-card img {
    width: 5rem;
  }

  .welcome-card h5 {
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
  }

  p {
    font-size: 1.025rem;
  }

  .welcome-card-text p {
    padding: 0 36px;
  }

  .welcome-card-text {
    padding-top: 2.3rem;
  }

  .welcome-section::after {
    background-size: 95%;
  }

  .whoweare-row .row-right p:nth-child(2) {
    padding: 1.5rem 0;
    font-size: 1.3rem;
  }

  .whoweare {
    padding-bottom: 4rem;
  }

  .whoweare-row .row-left {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
  }

  .whoweare-row .row-left img {
    width: 37rem;
  }

  .programs {
    padding-top: 3rem;
  }

  .programs-card .programs-img a img {
    width: 27rem;
  }

  .programs-card-link {
    top: -6.5rem;
  }

  .programs-card:nth-child(2) .programs-card-link {
    top: -7.5rem;
  }

  .programs-card-link h3 {
    font-size: 3rem;
  }

  .programs-card-link p {
    padding-top: 2rem;
    font-size: 2rem;
  }

  .programs h2 {
    padding: 3.5rem 0;
  }

  .summer-camp {
    padding: 12rem 0 6rem 0;
    background-size: contain;
  }

  .camp-headings h3 {
    font-size: 7rem;
  }

  .camp-right > a,
  .camp-right p {
    padding-left: 0rem;
  }

  .camp-right p {
    padding: 2rem 0;
    font-size: 1.15rem;
  }

  .camp-btns {
    padding-top: 2.5rem;
  }

  .camp-left img {
    left: 3rem;
    bottom: 2rem;
    width: 28rem;
  }

  .camp-left::after {
    top: 616px;
    right: 214px;
    width: 93%;
  }

  .gallery {
    padding: 0 0 8rem 0;
    background-size: contain;
  }

  .gallery-row .swiper-slide img {
    width: 23rem;
  }

  .gallery-arrows .gallery-btn-next,
  .gallery-arrows .gallery-btn-prev,
  .gallery-arrows .testimonials-btn-prev,
  .gallery-arrows .testimonials-btn-next {
    bottom: 11rem;
  }

  .gallery h2 {
    padding: 6rem 0 4rem 0;
  }

  .popup-youtube img {
    width: 28rem;
  }

  .testimonials-section h2 {
    padding: 5rem 21rem;
  }

  .testimonial-content .parent-comment p {
    font-size: 1rem;
    line-height: 2rem;
  }

  .testimonials-section .swiper-slide {
    padding: 2rem 3rem;
    height: 21rem;
  }

  .testimonial-content .parent-name p {
    font-size: 1.2rem;
  }

  .testimonial-content h3 {
    font-size: 1.5rem;
  }

  .testimonials-section .common-btn {
    margin-top: 0rem;
  }

  .news-section .news-row .left img {
    padding-top: 5rem;
  }

  .news-section .right .swiper-news {
    margin-top: 9rem;
  }

  .news-section .news-content p:first-of-type,
  h4 {
    font-size: 1.5rem;
  }

  .news-section .news-content p:first-of-type {
    margin: 0.5rem 0;
  }

  .news-section .news-content .date {
    margin: 1.2rem 0;
    font-size: 1rem;
  }

  .footer-main .col-left p {
    margin: 1.5rem 0;
    font-size: 1.5rem;
  }

  .footer-main .contact-info a,
  .footer-main .contact-info p {
    font-size: 1.1rem;
  }

  .footer-main .contact-info td {
    padding: 1rem 1.5rem 0 0;
  }
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1170px;
  }

  h1 {
    font-size: 5rem;
  }

  .heading-block {
    padding-left: 3rem;
  }

  .hero-main .right img {
    top: 3rem;
  }

  .header-menu ul li a {
    font-size: 2.8rem;
  }

  .heder-menu ul {
    margin-bottom: 10rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1rem;
  }

  .whoweare-row .row-right p:nth-child(2) {
    font-size: 1.2rem;
  }

  .programs-card .programs-img a img {
    width: 23rem;
  }

  .programs-card-link h3 {
    font-size: 2.5rem;
  }

  .programs-card-link p {
    font-size: 1.7rem;
  }

  .programs-card-link p {
    padding-top: 0.5rem;
  }

  .btn-center {
    padding: unset;
  }

  .container .line {
    width: 100%;
  }

  .camp-headings h3 {
    font-size: 6.5rem;
  }

  .camp-left img {
    left: 0rem;
    width: 26rem;
  }

  .camp-left::after {
    top: 35.5rem;
    right: 16rem;
  }

  .camp-btns .common-btn:first-child,
  .camp-btns .common-btn:last-child {
    background-size: contain;
  }

  .gallery-row .swiper-slide img {
    width: 21rem;
  }

  .gallery-arrows .gallery-btn-next,
  .gallery-arrows .gallery-btn-prev,
  .gallery-arrows .testimonials-btn-prev,
  .gallery-arrows .testimonials-btn-next {
    bottom: 10.5rem;
  }

  .testimonials-section {
    background-position-y: 10%;
  }

  .testimonial-content .parent-comment p {
    line-height: 1.8rem;
  }

  .testimonials-section .swiper-slide {
    padding: 1.5rem 3rem;
    height: 18.5rem;
  }

  .news-section {
    padding-top: 8rem;
  }

  .news-section .news-row .left img {
    padding-top: 4rem;
    width: 38rem;
  }

  .news-section .right .swiper-news {
    margin-top: 7rem;
  }

  .news-section .news-row .left p {
    font-size: 1.8rem;
  }

  .news-section .news-content hr {
    margin-bottom: 1.8rem;
  }

  .footer-main h4 {
    font-size: 1.5rem;
  }

  .footer-main .col-left p {
    font-size: 1.2rem;
  }

  .footer-main .contact-info a,
  .footer-main .contact-info p {
    font-size: 1rem;
  }

  .footer-main .contact-info td {
    padding-top: 0.8rem;
  }

  .copyright p,
  .copyright a {
    font-size: 1rem;
  }

  .footer-navbar .navbar a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .hero-section {
    height: 700px;
    background-size: cover;
  }

  .header-container {
    height: 6rem;
  }

  h1 {
    font-size: 4rem;
  }

  .logo img {
    width: 70%;
  }

  .hamburger {
    background-size: contain;
  }

  .header-contact {
    padding: 0 2rem;
  }

  .header-contact a {
    font-size: 1.6rem;
  }

  .header-contact img {
    width: 3rem;
  }

  .heading-block .left {
    padding-top: 4rem;
  }

  .common-btn {
    width: 12rem;
    font-size: 1.2rem !important;
  }

  .left h1 {
    padding-bottom: 1rem;
  }

  .swiper-arrows {
    padding-top: 2rem;
  }

  .swiper-arrows .btn-prev img,
  .swiper-arrows .btn-next img {
    width: 2.8rem;
  }

  .swiper {
    width: 500px;
  }

  .hero-main .right img {
    top: 1rem;
  }

  .hero-main > img {
    top: 9rem;
  }

  .welcome-section {
    padding: 6rem 0;
  }

  .welcome-row {
    padding-top: 3rem;
  }

  h2 {
    font-size: 3rem;
  }

  .welcome-card h5 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  .welcome-card-text {
    padding-top: 1.8rem;
  }

  .wc-card img {
    width: 4.5rem;
  }

  p {
    font-size: 0.8rem;
  }

  .whoweare-row .row-left img {
    width: 30rem;
  }

  .whoweare-row .row-right p:nth-child(2) {
    padding: 1rem 0;
    font-size: 1rem;
  }

  .welcome-section::after {
    top: 10rem;
  }

  .programs-card .programs-img a img {
    width: 18rem;
  }

  .programs-card-link h3 {
    font-size: 2.3rem;
  }

  .programs-btn {
    height: 90px;
    width: 90px;
  }

  .programs {
    background-size: cover;
  }

  .camp-btns {
    flex-wrap: wrap;
  }

  .camp-btns .common-btn:first-child {
    width: 15rem;
  }

  .camp-btns .common-btn:last-child {
    width: 21rem;
  }

  .camp-btns {
    gap: unset;
  }

  .camp-headings h3 {
    font-size: 5rem;
  }

  .camp-right p {
    padding: 1rem 0;
    font-size: 1rem;
  }

  .camp-btns .common-btn {
    width: 18.125rem;
    line-height: 5rem;
  }

  .camp-btns {
    padding-top: 1.5rem;
  }

  .camp-left img {
    width: 24rem;
  }

  .camp-left::after {
    top: 33rem;
  }

  .summer-camp {
    padding: 8rem 0 6rem 0;
  }

  .gallery-row .swiper-slide img {
    width: 16rem;
  }

  .gallery-arrows .gallery-btn-next,
  .gallery-arrows .gallery-btn-prev,
  .gallery-arrows .testimonials-btn-prev,
  .gallery-arrows .testimonials-btn-next {
    bottom: 7rem;
  }

  .gallery {
    padding: 0 0 6rem 0;
  }

  .popup-youtube img {
    width: 20rem;
  }

  .testimonials-section h2 {
    padding: 0 21rem 5rem 21rem;
  }

  .testimonials-section {
    padding: 6rem 0 4rem 0;
  }

  .parent-header img {
    width: 3.5rem;
  }

  .testimonials-section {
    background-size: cover;
  }

  .testimonial-content h3 {
    font-size: 1.3rem;
  }

  .testimonial-content .parent-name p {
    font-size: 1rem;
  }

  .testimonial-content .parent-header {
    column-gap: 1.5rem;
  }

  .testimonial-content .parent-comment p {
    line-height: 1.6rem;
    padding-top: 0.8rem;
  }

  .testimonials-section .swiper-slide {
    padding: 1.5rem;
    height: 15.5rem;
  }

  .news-section {
    padding-top: 6rem;
  }

  .news-section .news-row .left img {
    width: 30rem;
  }

  .news-section .news-content p:first-of-type,
  h4 {
    font-size: 1.3rem;
  }

  .news-section .news-content hr {
    margin-bottom: 1rem;
  }

  .news-section .news-row .left p {
    font-size: 1.5rem;
  }

  footer {
    padding: 8rem 0 3rem 0;
  }

  .footer-main h4 {
    font-size: 1.4rem;
  }

  .footer-main .social-media img {
    width: 1.3rem;
  }

  .footer-navbar {
    padding: 2rem 0;
  }

  .footer-navbar .navbar ul {
    gap: 3rem;
  }

  .header-menu ul li a {
    font-size: 2rem;
  }
}
