@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1360px;
  }

  .header-container {
    width: calc(100% - 10%);
  }

  .logo img {
    width: 85%;
  }

  h1 {
    font-size: 6rem;
  }

  .hero-section {
    height: 900px;
  }

  .common-btn {
    font-size: 1.46rem !important;
    width: 15.125rem;
    background-size: contain;
  }

  .swiper-arrows {
    padding-top: 70px;
    gap: 15px;
  }

  .swiper-arrows .btn-prev img,
  .swiper-arrows .btn-next img {
    width: 3rem;
  }

  .hero-main .right img {
    left: 120px;
    width: 100%;
  }

  .heading-block .left {
    padding-top: 130px;
  }

  .super-girl.active img {
    transform: translate(15%, -7%);
  }

  .hero-main > img {
    width: 3.3rem;
    left: 100px;
    top: 200px;
  }

  h2 {
    font-size: 4rem;
  }

  .welcome-section {
    padding: 8rem 0;
  }

  .welcome-row {
    padding-top: 5rem;
  }

  .wc-card img {
    width: 5rem;
  }

  .welcome-card h5 {
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
  }

  p {
    font-size: 1.025rem;
  }

  .welcome-card-text p {
    padding: 0 36px;
  }

  .welcome-card-text {
    padding-top: 2.3rem;
  }

  .welcome-section::after {
    background-size: 95%;
  }

  .whoweare-row .row-right p:nth-child(2) {
    padding: 1.5rem 0;
    font-size: 1.3rem;
  }

  .whoweare {
    padding-bottom: 4rem;
  }

  .whoweare-row .row-left {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
  }

  .whoweare-row .row-left img {
    width: 37rem;
  }

  .programs {
    padding-top: 3rem;
  }

  .programs-card .programs-img a img {
    width: 27rem;
  }

  .programs-card-link {
    top: -6.5rem;
  }

  .programs-card:nth-child(2) .programs-card-link {
    top: -7.5rem;
  }

  .programs-card-link h3 {
    font-size: 3rem;
  }

  .programs-card-link p {
    padding-top: 2rem;
    font-size: 2rem;
  }

  .programs h2 {
    padding: 3.5rem 0;
  }

  .summer-camp {
    padding: 12rem 0 6rem 0;
    background-size: contain;
  }

  .camp-headings h3 {
    font-size: 7rem;
  }

  .camp-right > a,
  .camp-right p {
    padding-left: 0rem;
  }

  .camp-right p {
    padding: 2rem 0;
    font-size: 1.15rem;
  }

  .camp-btns {
    padding-top: 2.5rem;
  }

  .camp-left img {
    left: 3rem;
    bottom: 2rem;
    width: 28rem;
  }

  .camp-left::after {
    top: 616px;
    right: 214px;
    width: 93%;
  }

  .gallery {
    padding: 0 0 8rem 0;
    background-size: contain;
  }

  .gallery-row .swiper-slide img {
    width: 23rem;
  }

  .gallery-arrows .gallery-btn-next,
  .gallery-arrows .gallery-btn-prev,
  .gallery-arrows .testimonials-btn-prev,
  .gallery-arrows .testimonials-btn-next {
    bottom: 11rem;
  }

  .gallery h2 {
    padding: 6rem 0 4rem 0;
  }

  .popup-youtube img {
    width: 28rem;
  }

  .testimonials-section h2 {
    padding: 5rem 21rem;
  }

  .testimonial-content .parent-comment p {
    font-size: 1rem;
    line-height: 2rem;
  }

  .testimonials-section .swiper-slide {
    padding: 2rem 3rem;
    height: 21rem;
  }

  .testimonial-content .parent-name p {
    font-size: 1.2rem;
  }

  .testimonial-content h3 {
    font-size: 1.5rem;
  }

  .testimonials-section .common-btn {
    margin-top: 0rem;
  }

  .news-section .news-row .left img {
    padding-top: 5rem;
  }

  .news-section .right .swiper-news {
    margin-top: 9rem;
  }

  .news-section .news-content p:first-of-type,
  h4 {
    font-size: 1.5rem;
  }

  .news-section .news-content p:first-of-type {
    margin: 0.5rem 0;
  }

  .news-section .news-content .date {
    margin: 1.2rem 0;
    font-size: 1rem;
  }

  .footer-main .col-left p {
    margin: 1.5rem 0;
    font-size: 1.5rem;
  }

  .footer-main .contact-info a,
  .footer-main .contact-info p {
    font-size: 1.1rem;
  }

  .footer-main .contact-info td {
    padding: 1rem 1.5rem 0 0;
  }
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1170px;
  }

  h1 {
    font-size: 5rem;
  }

  .heading-block {
    padding-left: 3rem;
  }

  .hero-main .right img {
    top: 3rem;
  }

  .header-menu ul li a {
    font-size: 2.8rem;
  }

  .heder-menu ul {
    margin-bottom: 10rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1rem;
  }

  .whoweare-row .row-right p:nth-child(2) {
    font-size: 1.2rem;
  }

  .programs-card .programs-img a img {
    width: 23rem;
  }

  .programs-card-link h3 {
    font-size: 2.5rem;
  }

  .programs-card-link p {
    font-size: 1.7rem;
  }

  .programs-card-link p {
    padding-top: 0.5rem;
  }

  .btn-center {
    padding: unset;
  }

  .container .line {
    width: 100%;
  }

  .camp-headings h3 {
    font-size: 6.5rem;
  }

  .camp-left img {
    left: 0rem;
    width: 26rem;
  }

  .camp-left::after {
    top: 35.5rem;
    right: 16rem;
  }

  .camp-btns .common-btn:first-child,
  .camp-btns .common-btn:last-child {
    background-size: contain;
  }

  .gallery-row .swiper-slide img {
    width: 21rem;
  }

  .gallery-arrows .gallery-btn-next,
  .gallery-arrows .gallery-btn-prev,
  .gallery-arrows .testimonials-btn-prev,
  .gallery-arrows .testimonials-btn-next {
    bottom: 10.5rem;
  }

  .testimonials-section {
    background-position-y: 10%;
  }

  .testimonial-content .parent-comment p {
    line-height: 1.8rem;
  }

  .testimonials-section .swiper-slide {
    padding: 1.5rem 3rem;
    height: 18.5rem;
  }

  .news-section {
    padding-top: 8rem;
  }

  .news-section .news-row .left img {
    padding-top: 4rem;
    width: 38rem;
  }

  .news-section .right .swiper-news {
    margin-top: 7rem;
  }

  .news-section .news-row .left p {
    font-size: 1.8rem;
  }

  .news-section .news-content hr {
    margin-bottom: 1.8rem;
  }

  .footer-main h4 {
    font-size: 1.5rem;
  }

  .footer-main .col-left p {
    font-size: 1.2rem;
  }

  .footer-main .contact-info a,
  .footer-main .contact-info p {
    font-size: 1rem;
  }

  .footer-main .contact-info td {
    padding-top: 0.8rem;
  }

  .copyright p,
  .copyright a {
    font-size: 1rem;
  }

  .footer-navbar .navbar a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .hero-section {
    height: 700px;
    background-size: cover;
  }

  .header-container {
    height: 6rem;
  }

  h1 {
    font-size: 4rem;
  }

  .logo img {
    width: 70%;
  }

  .hamburger {
    background-size: contain;
  }

  .header-contact {
    padding: 0 2rem;
  }

  .header-contact a {
    font-size: 1.6rem;
  }

  .header-contact img {
    width: 3rem;
  }

  .heading-block .left {
    padding-top: 4rem;
  }

  .common-btn {
    width: 12rem;
    font-size: 1.2rem !important;
  }

  .left h1 {
    padding-bottom: 1rem;
  }

  .swiper-arrows {
    padding-top: 2rem;
  }

  .swiper-arrows .btn-prev img,
  .swiper-arrows .btn-next img {
    width: 2.8rem;
  }

  .swiper {
    width: 500px;
  }

  .hero-main .right img {
    top: 1rem;
  }

  .hero-main > img {
    top: 9rem;
  }

  .welcome-section {
    padding: 6rem 0;
  }

  .welcome-row {
    padding-top: 3rem;
  }

  h2 {
    font-size: 3rem;
  }

  .welcome-card h5 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  .welcome-card-text {
    padding-top: 1.8rem;
  }

  .wc-card img {
    width: 4.5rem;
  }

  p {
    font-size: 0.8rem;
  }

  .whoweare-row .row-left img {
    width: 30rem;
  }

  .whoweare-row .row-right p:nth-child(2) {
    padding: 1rem 0;
    font-size: 1rem;
  }

  .welcome-section::after {
    top: 10rem;
  }

  .programs-card .programs-img a img {
    width: 18rem;
  }

  .programs-card-link h3 {
    font-size: 2.3rem;
  }

  .programs-btn {
    height: 90px;
    width: 90px;
  }

  .programs {
    background-size: cover;
  }

  .camp-btns {
    flex-wrap: wrap;
  }

  .camp-btns .common-btn:first-child {
    width: 15rem;
  }

  .camp-btns .common-btn:last-child {
    width: 21rem;
  }

  .camp-btns {
    gap: unset;
  }

  .camp-headings h3 {
    font-size: 5rem;
  }

  .camp-right p {
    padding: 1rem 0;
    font-size: 1rem;
  }

  .camp-btns .common-btn {
    width: 18.125rem;
    line-height: 5rem;
  }

  .camp-btns {
    padding-top: 1.5rem;
  }

  .camp-left img {
    width: 24rem;
  }

  .camp-left::after {
    top: 33rem;
  }

  .summer-camp {
    padding: 8rem 0 6rem 0;
  }

  .gallery-row .swiper-slide img {
    width: 16rem;
  }

  .gallery-arrows .gallery-btn-next,
  .gallery-arrows .gallery-btn-prev,
  .gallery-arrows .testimonials-btn-prev,
  .gallery-arrows .testimonials-btn-next {
    bottom: 7rem;
  }

  .gallery {
    padding: 0 0 6rem 0;
  }

  .popup-youtube img {
    width: 20rem;
  }

  .testimonials-section h2 {
    padding: 0 21rem 5rem 21rem;
  }

  .testimonials-section {
    padding: 6rem 0 4rem 0;
  }

  .parent-header img {
    width: 3.5rem;
  }

  .testimonials-section {
    background-size: cover;
  }

  .testimonial-content h3 {
    font-size: 1.3rem;
  }

  .testimonial-content .parent-name p {
    font-size: 1rem;
  }

  .testimonial-content .parent-header {
    column-gap: 1.5rem;
  }

  .testimonial-content .parent-comment p {
    line-height: 1.6rem;
    padding-top: 0.8rem;
  }

  .testimonials-section .swiper-slide {
    padding: 1.5rem;
    height: 15.5rem;
  }

  .news-section {
    padding-top: 6rem;
  }

  .news-section .news-row .left img {
    width: 30rem;
  }

  .news-section .news-content p:first-of-type,
  h4 {
    font-size: 1.3rem;
  }

  .news-section .news-content hr {
    margin-bottom: 1rem;
  }

  .news-section .news-row .left p {
    font-size: 1.5rem;
  }

  footer {
    padding: 8rem 0 3rem 0;
  }

  .footer-main h4 {
    font-size: 1.4rem;
  }

  .footer-main .social-media img {
    width: 1.3rem;
  }

  .footer-navbar {
    padding: 2rem 0;
  }

  .footer-navbar .navbar ul {
    gap: 3rem;
  }

  .header-menu ul li a {
    font-size: 2rem;
  }

  .footer-main {
    justify-content: space-around;
  }

  .footer-main .contact-info td {
    padding: 1rem 0.5rem 0 0;
  }

  footer::before {
    right: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .heading-block {
    padding: 0 6rem;
  }

  .header-contact {
    padding: 0 1.5rem;
  }

  .logo img {
    width: 18rem;
  }

  .header-contact a {
    font-size: 1.4rem;
  }

  .welcome-section {
    padding: 5rem 0 3rem 0;
  }

  .welcome-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .welcome-row .welcome-card:nth-of-type(2)::after {
    display: none;
  }

  .welcome-row .welcome-card:nth-of-type(1)::after,
  .welcome-row .welcome-card:nth-of-type(3)::after {
    height: 8rem;
    top: 0%;
  }

  .welcome-row .welcome-card {
    width: 23rem;
    height: 14rem;
  }

  .programs-row {
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .programs-btn {
    height: 80px;
    width: 80px;
  }

  .programs-card-link {
    max-height: 11.5rem;
  }

  .programs-card-link p {
    font-size: 1.3rem;
  }

  .programs-card:nth-child(2) .programs-img a > img {
    margin-bottom: 2rem;
  }

  .programs h2 {
    padding: 2.5rem 0;
  }

  .summer-camp {
    padding: 6rem 0 6rem 0;
  }

  .camp-left img {
    width: 22rem;
    left: 2rem;
  }

  .camp-left::after {
    top: 31.5rem;
  }

  .camp-right p {
    font-size: 0.9rem;
  }

  .gallery-row .swiper-slide img {
    width: 15rem;
  }

  .gallery-arrows .gallery-btn-next,
  .gallery-arrows .gallery-btn-prev,
  .gallery-arrows .testimonials-btn-prev,
  .gallery-arrows .testimonials-btn-next {
    bottom: 6rem;
  }

  .testimonials-section h2 {
    padding: 0 15rem 3rem 15rem;
  }

  .testimonial-content .parent-comment p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .testimonials-section .swiper-slide {
    height: 13rem;
  }

  .news-section .news-row .left img {
    padding-top: 3rem;
  }

  .news-section .right .swiper-news {
    margin-top: 6rem;
  }

  .news-section .right {
    width: 44%;
  }

  footer {
    padding: 6rem 0 3rem 0;
  }

  .footer-navbar {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 740px;
  }

  .hero-section {
    height: 600px;
  }

  .heading-block {
    padding: 0;
  }

  .left h1 {
    padding-bottom: 0rem;
  }

  .swiper-arrows {
    padding-top: 1rem;
    gap: 10px;
  }

  .heading-block .left {
    padding-top: 3rem;
  }

  .hero-main > img {
    left: 3rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .common-btn {
    width: 11rem;
    font-size: 1rem !important;
  }

  .welcome-row .welcome-card {
    width: 20rem;
    height: 13rem;
  }

  .welcome-row {
    padding-top: 2rem;
  }

  .whoweare-row .row-right p:nth-child(2) {
    font-size: 0.9rem;
  }

  .whoweare-row .row-left img {
    width: 25rem;
    bottom: 1.5rem;
    position: relative;
  }

  .row-right p:nth-child(3) {
    line-height: 1.5;
    padding-bottom: 0.8rem;
  }

  .programs-row {
    justify-content: space-evenly;
    gap: 0 1.5rem;
  }

  .camp-headings h3 {
    font-size: 4rem;
  }

  .camp-row .camp-right {
    width: 50%;
  }

  .camp-left img {
    left: -1rem;
    bottom: 1rem;
  }

  .camp-right > a {
    font-size: 1.1rem;
  }

  .camp-btns .common-btn:first-child {
    width: 13rem;
  }

  .camp-btns .common-btn:last-child {
    width: 18rem;
  }

  .camp-btns .common-btn {
    line-height: 4.5rem;
  }

  .camp-btns {
    padding-top: 1rem;
  }

  .camp-left::after {
    top: 31.2rem;
    right: 18rem;
  }

  .summer-camp {
    padding: 5rem 0;
  }

  .gallery-row .swiper-slide img {
    width: 18rem;
  }

  .gallery-arrows .gallery-btn-next,
  .gallery-arrows .gallery-btn-prev,
  .gallery-arrows .testimonials-btn-prev,
  .gallery-arrows .testimonials-btn-next {
    bottom: 5rem;
  }

  .gallery h2 {
    padding: 5rem 0 4rem 0;
  }

  .gallery {
    padding: 0 0 5rem 0;
  }

  .gallery-arrows .gallery-btn-next {
    right: -4rem;
  }

  .gallery-arrows .gallery-btn-prev {
    left: -4rem;
  }

  .gallery .gallery-row {
    width: 65%;
  }

  .gallery-arrows .gallery-btn-next,
  .gallery-arrows .gallery-btn-prev {
    bottom: 6rem;
  }

  .testimonials-section {
    padding: 5rem 0 4rem 0;
  }

  .gallery-arrows .testimonials-btn-next {
    bottom: 4rem;
  }

  .news-section .news-row .left img {
    width: 23rem;
    padding-top: 2rem;
  }

  .news-section .right .swiper-news {
    margin-top: 8rem;
  }

  .news-section .news-content hr {
    margin-bottom: 0.5rem;
  }

  .news-section .news-content .date {
    margin: 1rem 0;
  }

  .footer-main {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem 0;
  }

  .footer-main .col-left {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .col-left h4 {
    line-height: 2rem;
  }

  .footer-main .col-center,
  .footer-main .col-right {
    flex: 1 1 calc(50% - 20px);
  }

  .footer-main h4 {
    text-align: center;
  }

  .footer-navbar .navbar ul {
    gap: 2rem;
  }

  .copyright p,
  .copyright a {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 600px;
  }

  .logo img {
    width: 14rem;
  }

  .header-contact img {
    width: 2.8rem;
  }

  .header-togle nav s {
    width: 8rem;
  }

  .header-container {
    height: 5.5rem;
  }

  .header-contact {
    cursor: pointer;
  }

  .header-contact a:nth-child(2),
  .header-contact a strong {
    font-size: 0rem;

    padding: 0;
  }

  .header-contact:hover a:nth-child(2),
  .header-contact:hover a strong {
    font-size: 1rem;
    padding-left: 1rem;
  }

  .swiper-arrows .btn-prev img,
  .swiper-arrows .btn-next img {
    width: 2.3rem;
  }

  .iamsun.active {
    transform: translateX(400%) rotate(360deg) !important;
  }

  .super-girl.active img {
    transform: translate(6%, -11%);
  }

  h2 {
    font-size: 2.5rem;
  }

  .welcome-row .welcome-card {
    width: 16rem;
    height: 12rem;
  }

  .welcome-card-text {
    padding-top: 1rem;
  }

  .welcome-card h5 {
    padding-bottom: 0.5rem;
  }

  .whoweare-row .row-left img {
    width: 23rem;
    bottom: 1.5rem;
    right: -1rem;
  }

  .row-right p:nth-child(3) {
    line-height: 1.3;
    padding-bottom: 0;
  }

  .whoweare-row .row-right p:nth-child(2) {
    padding: 0.6rem 0;
  }

  .programs h2 {
    padding: 2rem 0;
  }

  .programs-card .programs-img a img {
    width: 16rem;
  }

  .camp-headings h3 {
    font-size: 3rem;
  }

  .camp-right p {
    font-size: 0.7rem;
    line-height: 1.6;
  }

  .camp-left img {
    width: 17rem;
    left: 0rem;
  }

  .camp-left::after {
    top: 24.7rem;
    right: 11rem;
    background-size: contain;
  }

  .summer-camp {
    padding: 3rem 0;
  }

  .gallery h2 {
    padding: 3rem 0;
  }

  .gallery {
    padding: 0 0 4rem 0;
  }

  .gallery-row .swiper-slide img {
    width: 20rem;
  }

  .gallery-row .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .gallery-arrows .gallery-btn-next,
  .gallery-arrows .gallery-btn-prev {
    bottom: 7rem;
  }

  .gallery-arrows .gallery-btn-next {
    right: -3rem;
  }

  .gallery-arrows .gallery-btn-prev {
    left: -3rem;
  }

  .testimonials-section h2 {
    padding: 0 5.6rem 3rem 5.6rem;
  }

  .testimonials-section .swiper-slide {
    background-size: contain;
  }

  .gallery .gallery-row,
  .testimonials-section .testimonials-row {
    width: 50%;
  }

  .testimonials-section .full-container::before {
    width: 50px;
    height: 80px;
    background-size: contain;
  }

  .news-section {
    padding: 4rem 0 0 0;
  }

  .news-section .news-row .left img {
    width: 18rem;
  }

  .news-section .news-row .left p {
    font-size: 1.3rem;
    padding-top: 1rem;
  }

  .news-section .right .swiper-news {
    margin-top: 7rem;
  }

  .news-section .news-content p:first-of-type,
  h4 {
    font-size: 1.2rem;
  }

  .news-section .news-content p:first-of-type,
  h4 {
    font-size: 1rem;
    margin: 0;
  }

  .news-section .news-content hr {
    margin-bottom: 0;
  }

  .news-section .news-content .date {
    margin: 0.8rem 0;
    font-size: 0.8rem;
  }

  .footer-main h4 {
    font-size: 1.3rem;
  }

  .footer-main .col-left p {
    margin: 0.9rem 0;
    font-size: 1rem;
  }

  .footer-main .contact-info a,
  .footer-main .contact-info p {
    font-size: 0.9rem;
  }

  .footer-main .contact-info td {
    padding: 0.6rem 0.5rem 0 0;
  }

  .footer-navbar .navbar ul {
    gap: 1rem;
  }

  .footer-navbar .navbar a {
    font-size: 0.8rem;
  }

  .footer-navbar {
    padding: 1.5rem 0;
  }

  .copyright {
    padding: 2rem 0 0 0;
  }

  .copyright p,
  .copyright a {
    font-size: 0.7rem;
  }

  footer {
    padding: 6rem 0 2rem 0;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    width: calc(100% - 20%);
  }

  .swiper {
    width: 330px;
  }

  .hero-main .right img {
    top: 2rem;
    left: 80px;
  }

  .welcome-row .welcome-card {
    width: 12rem;
    height: 12rem;
  }

  .row-right p {
    line-height: 1.2;
  }

  .whoweare-row .row-right p:nth-child(2) {
    font-size: 0.8rem;
  }

  .whoweare-row .row-left img {
    width: 20rem;
  }

  .row-right p:nth-child(3) {
    padding-bottom: 1rem;
  }

  p {
    font-size: 0.7rem;
  }

  .programs-card .programs-img a img {
    width: 14rem;
  }

  .programs-card-link h3 {
    font-size: 2rem;
  }

  .programs-card-link {
    max-height: 10rem;
  }

  .common-btn {
    line-height: 4.5rem;
  }

  .camp-row {
    flex-direction: column;
    text-align: center;
  }

  .camp-left::after {
    top: 23.5rem;
    right: 0rem;
  }

  .camp-row .camp-right {
    width: 100%;
  }

  .camp-btns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .camp-headings h2,
  .camp-headings h3 {
    text-align: center;
  }

  .gallery .gallery-row,
  .testimonials-section .testimonials-row {
    width: 60%;
  }

  .gallery-arrows .testimonials-btn-next {
    right: -3rem;
  }

  .gallery-arrows .testimonials-btn-prev {
    left: -3rem;
  }

  .news-section .right .swiper-arrows {
    bottom: 0;
    width: 100%;
    justify-content: center;
  }

  .news-section .news-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .news-row .left h2 {
    text-align: center;
  }

  .news-section .news-content p:first-of-type,
  h4 {
    text-align: center;
  }

  .news-section .right,
  .news-section .left {
    width: 75%;
  }

  .news-section .right .swiper-news {
    margin: 2rem 0 4rem 0;
  }

  .footer-main .contact-info a,
  .footer-main .contact-info p {
    font-size: 0.8rem;
  }

  .footer-navbar {
    margin-top: 2rem;
  }
}
